Lab6 - Create an Android (or iOS) mobile app with Visual Recognition/node-red_flow.json
[
    {
        "id": "fd1a6e45.7cdfe",
        "type": "template",
        "z": "c25ff95f.a77358",
        "name": "HTML & JS",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<html>\n<head>\n    <title>Visual Recognition Pizza Checker</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css\" />\n    <script src=\"https://code.jquery.com/jquery-1.9.1.min.js\"></script>\n    <script src=\"https://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js\"></script>\n</head>\n<body>\n    <H3>Visual Recognition Workshop</H3>\n    <H4>Pizza Checker</H4>\n    <input id=\"picture\" type=\"file\" accept=\"image/*;capture=camera\">\n    <p>\n    <div id=\"view_pic\"></div>\n    <div id=\"results\"></div>\n    \n    <script>\n        var formData = new FormData();\n        var myInput = document.getElementById('picture');\n        \n        function sendPic() {\n            var request = new XMLHttpRequest();    \n            \n            //Displaying Picture\n            var file = myInput.files[0];\n            var reader = new FileReader();\n            reader.onload = function (e) { \n                console.log(e); \n                document.getElementById(\"view_pic\").innerHTML = \"<img src='\"+e.target.result+\"' style='max-width:300;max-height:300'>\";\n            }\n            reader.readAsDataURL(file);\n            formData.set(\"photo\", file);\n            \n            // Showing Upload progress\n            request.upload.addEventListener(\"progress\", function(evt){\n                if (evt.lengthComputable) {\n                    console.log(\"add upload event-listener\" + evt.loaded + \"/\" + evt.total);\n                    document.getElementById(\"results\").innerHTML = \"Uploading to IBM Cloud <BR> <progress value='\"+evt.loaded+\"' max='\"+evt.total+\"'>\";\n                }\n            }, false);\n            \n            // Showing analysis progress\n            request.upload.addEventListener(\"load\", function(evt){\n                    document.getElementById(\"results\").innerHTML = \"Watson is analyzing the picture...\";\n            }, false);\n            \n            \n\n            // Display results\n            request.onreadystatechange = function() {\n                console.log(this);\n                if (this.readyState == 4 && this.status == 200) {                    \n                    document.getElementById(\"results\").innerHTML = this.response;\n                }\n            };\n            \n            // Sending picture to IBM Cloud\n            request.open(\"POST\", \"/submit\");\n            request.send(formData);\n        }\n        \n        // Listener on picture selection\n        myInput.addEventListener('change', sendPic, false);\n    </script>\n</body>\n</HTML>\n\n\n\n\n",
        "output": "str",
        "x": 393,
        "y": 123,
        "wires": [
            [
                "cf187695.9f5e7"
            ]
        ]
    },
    {
        "id": "a70203d9.5875f",
        "type": "http in",
        "z": "c25ff95f.a77358",
        "name": "",
        "url": "/pizzachecker",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 204,
        "y": 123,
        "wires": [
            [
                "fd1a6e45.7cdfe"
            ]
        ]
    },
    {
        "id": "cf187695.9f5e7",
        "type": "http response",
        "z": "c25ff95f.a77358",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 553,
        "y": 123,
        "wires": []
    },
    {
        "id": "3519713a.d7cbde",
        "type": "http in",
        "z": "c25ff95f.a77358",
        "name": "",
        "url": "/submit",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 184,
        "y": 243,
        "wires": [
            [
                "2ef477f1.83ca18"
            ]
        ]
    },
    {
        "id": "c3f4f2de.3aa2c",
        "type": "http response",
        "z": "c25ff95f.a77358",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1206,
        "y": 243,
        "wires": []
    },
    {
        "id": "6f6eb88a.147c78",
        "type": "visual-recognition-v3",
        "z": "c25ff95f.a77358",
        "name": "",
        "apikey": "n1mVWPnkkSGh3mXLvum_ykboJhsNALaOVscSb6p6oJGq",
        "vr-service-endpoint": "https://gateway.watsonplatform.net/visual-recognition/api",
        "image-feature": "classifyImage",
        "lang": "en",
        "x": 706,
        "y": 241,
        "wires": [
            [
                "5b9bd312.20a82c"
            ]
        ]
    },
    {
        "id": "5b9bd312.20a82c",
        "type": "template",
        "z": "c25ff95f.a77358",
        "name": "HTML Result",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "        <h4>Node-RED Watson Visual Recognition output</h4>\n        <table border='1'>\n            <thead><tr><th>Name</th><th>Score</th></tr></thead>\n        {{#result.images.0.classifiers.0.classes}}\n        <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n        {{/result.images.0.classifiers.0.classes}}\n        </table>\n",
        "output": "str",
        "x": 1013,
        "y": 242,
        "wires": [
            [
                "c3f4f2de.3aa2c"
            ]
        ]
    },
    {
        "id": "2ef477f1.83ca18",
        "type": "change",
        "z": "c25ff95f.a77358",
        "name": "Get image from request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.files[0].buffer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 386,
        "y": 243,
        "wires": [
            [
                "3e372dee.e6b542"
            ]
        ]
    },
    {
        "id": "4beb83e6.4f25e4",
        "type": "comment",
        "z": "c25ff95f.a77358",
        "name": "Mobile App to Upload picture",
        "info": "",
        "x": 234,
        "y": 83,
        "wires": []
    },
    {
        "id": "562e6cac.f8d224",
        "type": "comment",
        "z": "c25ff95f.a77358",
        "name": "Processing",
        "info": "",
        "x": 174,
        "y": 203,
        "wires": []
    },
    {
        "id": "3e372dee.e6b542",
        "type": "change",
        "z": "c25ff95f.a77358",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params[\"classifier_ids\"]",
                "pt": "msg",
                "to": "PizzaConditionModel_614667364",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 305,
        "wires": [
            [
                "6f6eb88a.147c78"
            ]
        ]
    }
]